/* This block sets the font color, style, and size. */
body {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
}

.main-container {
    display: flex;
}

.navigation-container,
.video-container {
    flex: 1;
}

/* This block sets the flex-container div to flex. */
.flex-container {
    display: flex;
}

/* This block sets the styles of all the divs
within the flex-container div. This includes the 
border and content. */
.flex-container div {
    display: flex;
    background: gray;
    border: 1px solid black;
    height: 94px;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 150px;
}

div.temperature-display, 
div.humidity-display {
    background: #4caf50;
}

.image-container {
    position: relative;
}

.thermal-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 120px;
}

.thermal-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#audio {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

#record {
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 14px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

#audio-response {
    position: absolute;
    top: 10px;
    color: white;
    left: 10px;
}