/* This block sets the font color, style, and size. */
body {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
}

/* This block sets the flex-container div to flex. */
.flex-container {
    display: flex;
}

/* This block sets the styles of all the divs
within the flex-container div. This includes the 
border and content. */
.flex-container div {
    display: flex;
    background: gray;
    border: 4px solid black;
    height: 90px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* #video {
    transform: scaleY(-1);
  } */
  